<h1 class="auth-page__heading">Set Password</h1>
<p class="auth-page__subtext">Your new password must be different from previous password</p>

<app-alert [message]="errorMessage()" />

<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <app-form-field label="Password" type="password" [required]="true" formControlName="password" />
  <app-password-strength-meter [value]="passwordValue()" />
  <app-form-field
    label="Confirm Password"
    type="password"
    [required]="true"
    formControlName="confirmPassword"
  />

  <app-button type="submit" [loading]="submitting()">Reset Password</app-button>
</form>
